---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";

const builtWith = [
  {
    name: "YouTube",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/youtube",
  },
  {
    name: "TikTok",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/tiktok",
  },
  {
    name: "Instagram",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/instagram",
  },
  { name: "X", url: "https://victimasdelalgoritmo.com.ar/blog/tags/x" },
  {
    name: "Spotify",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/spotify",
  },
  {
    name: "Netflix",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/netflix",
  },
  { name: "Prime", url: "https://victimasdelalgoritmo.com.ar/blog/tags/prime" },
  {
    name: "Disney+",
    url: "https://victimasdelalgoritmo.com.ar/blog/tags/disney",
  },
  { name: "MAX", url: "https://victimasdelalgoritmo.com.ar/blog/tags/max" },
  { name: "Blog", url: "https://victimasdelalgoritmo.com.ar/blog/tags/blog" },
];
---

<Layout
  title="Home"
  pageTitle="Victimas del Algoritmo | Home"
  description="Vos, yo, todos somos victimas del algoritmo."
>
  <main class="bg-pink p-6">
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <h2 class="hidden">About Brutal</h2>
      <div class="col-span-4">
        <Card>
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-7xl">
              Víctimas del <a
                class="text-white"
                target="_self"
                href="https://victimasdelalgoritmo.com.ar">Algoritmo</a
              >
            </p>
            <p class="mt-2 outfit text-xl md:text-3xl lg:text-5xl">
              Vos, yo, todos.
            </p>
            <Button target={"_self"} href="/blog/">Conocélos &rarr;</Button>
          </div>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif">VdA?</h2>
          <p class="poppins">
            Todos somos, en cierto grado, resultado de las acciones de
            algoritmos que moldean nuestras experiencias online, alterando
            nuestra vida cotidiana.
          </p>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">
            Fuentes:
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_self"
                      title={`Ir a ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <MobileSocials />
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
